<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Home</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
	</head>

	<body style="background-color: rgb(39 39 42);">
		<div style="background-color: rgb(39 39 42);">
			<div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">

				
				<div class="mt-6 grid grid-cols-3 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
					{% for movie in movies %}
					<div class="group relative">
					<div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
						<img src="{{ movie.image }}" alt="Movie" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
					</div>
					<div class="mt-4 flex justify-between">
						<div>
						<h3 class="text-sm text-gray-700">
							<a href="#" style="color: rgb(255 255 255);">
							<span aria-hidden="true" class="absolute inset-0" ></span>
							{{ movie.title }} ({{ movie.release }}) [{{ movie.platform }}]
							</a>
						</h3>
						<p class="mt-1 text-sm text-gray-500" style="color: rgb(255 255 255);">{{ movie.genre }}</p>
						<p class="text-sm font-medium text-gray-900" style="color: rgb(255 255 255);">€{{ movie.price }}</p>
						</div>
						
					</div>
					</div>
					{% endfor %}
				</div>
				
			</div>
		</div>
	</body>
</html>
